# Improving the Model and Scikit-learn

In [1]:
# reading and cleaning the dataset
import pandas as pd
import numpy as np
np.random.seed(1)
home_listings = pd.read_csv("listings.csv")
home_listings = home_listings.loc[np.random.permutation(len(home_listings))]
home_listings['price'] = home_listings['price'].str.replace(',', '')
home_listings['price'] = home_listings['price'].str.replace('$', '')
home_listings['price'] = home_listings['price'].astype('float')
home_listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
574,741202,https://www.airbnb.com/rooms/741202,20151002231825,2015-10-03,"Gorgeous unit, historic building",Come stay with former diplomats in our 110yr o...,Why stay in a stuffy impersonal hotel room whe...,Come stay with former diplomats in our 110yr o...,none,NaN,...,10.0,f,NaN,"DISTRICT OF COLUMBIA, WASHINGTON",f,strict,t,t,1,4.15
1593,3920830,https://www.airbnb.com/rooms/3920830,20151002231825,2015-10-03,Bedroom in Historic DC Rowhouse!,Sunny bedroom in upper Petworth with your own ...,Welcome to our corner rowhouse in DC! About t...,Sunny bedroom in upper Petworth with your own ...,none,Our home is located in upper Petworth only ste...,...,9.0,f,NaN,"DISTRICT OF COLUMBIA, WASHINGTON",f,strict,f,f,2,3.68
3091,6403405,https://www.airbnb.com/rooms/6403405,20151002231825,2015-10-03,"Spacious, airy and bright bedroom","Comfortable, spacious, fully functional room, ...","Comfortable, spacious, fully functional room, ...","Comfortable, spacious, fully functional room, ...",none,NaN,...,10.0,f,NaN,"DISTRICT OF COLUMBIA, WASHINGTON",f,flexible,f,f,1,0.23
420,17378,https://www.airbnb.com/rooms/17378,20151002231825,2015-10-03,[1720-6/8] Deluxe 1BR-Foggy Bottom,"Nicely furnished, economical 1 Bedroom apartme...",Take the guesswork out of finding accommodatio...,"Nicely furnished, economical 1 Bedroom apartme...",none,NaN,...,9.0,f,NaN,"DISTRICT OF COLUMBIA, WASHINGTON",f,super_strict_30,f,t,5,0.31
808,106741,https://www.airbnb.com/rooms/106741,20151002231825,2015-10-03,4.5 Bedroom Capitol hill phase II,NaN,The house has 5 rooms in total: One large room...,The house has 5 rooms in total: One large room...,none,NaN,...,8.0,f,NaN,"DISTRICT OF COLUMBIA, WASHINGTON",f,strict,f,f,3,0.64

### Removing the columns
that cannot be used as features as we cannot apply distance formulas on them

In [2]:
home_listings.drop(home_listings.columns[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,54,55,56,58,59,60,61,62,63,66,67,68,69,70,71,72,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91]], axis=1, inplace=True)

In [5]:
home_listings.drop(home_listings.columns[[0,1]],axis=1,inplace=True)
len(home_listings.columns)

8

### Handling Missing Values

In [7]:
home_listings = home_listings.dropna(axis=0)
home_listings.isnull().sum()

accommodates         0
bathrooms            0
bedrooms             0
beds                 0
price                0
minimum_nights       0
maximum_nights       0
number_of_reviews    0
dtype: int64

In [8]:
home_listings.head()

,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,2,1.0,1.0,1.0,125.0,1,4,149
1593,2,1.5,1.0,1.0,85.0,1,30,49
3091,1,0.5,1.0,1.0,50.0,1,1125,1
420,2,1.0,1.0,1.0,209.0,4,730,2
808,12,2.0,5.0,5.0,215.0,2,1825,34

### Normalize columns

In [10]:
normalized_df = (home_listings - home_listings.mean())/(home_listings.std())

In [11]:
normalized_df['price'] = home_listings['price']
normalized_df.head()

,accommodates,bathrooms,bedrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
574,-0.596544,-0.439151,-0.249467,-0.546858,125.0,-0.341375,-0.016604,4.579650
1593,-0.596544,0.412923,-0.249467,-0.546858,85.0,-0.341375,-0.016603,1.159275
3091,-1.095499,-1.291226,-0.249467,-0.546858,50.0,-0.341375,-0.016573,-0.482505
420,-0.596544,-0.439151,-0.249467,-0.546858,209.0,0.487635,-0.016584,-0.448301
808,4.393004,1.264998,4.507903,2.829956,215.0,-0.065038,-0.016553,0.646219

### Euclidean distance multivariate case

In [16]:
from scipy.spatial import distance
first_listing = normalized_df.iloc[0][['accommodates', 'bathrooms']]
second_listing = normalized_df.iloc[1][['accommodates', 'bathrooms']]
distance_first_second = distance.euclidean(first_listing,second_listing)
distance_first_second

0.8520745409669226

### Scikit-learn

In [18]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor()
knn = KNeighborsRegressor(algorithm='brute')

In [20]:
train_df = normalized_df.sample(frac=0.75,random_state=1)
test_df = normalized_df.drop(train_df.index)

train_features = train_df[['accommodates', 'bathrooms']]
train_target = train_df['price']
knn.fit(train_features, train_target)

predictions = knn.predict(test_df[['accommodates', 'bathrooms']])
print(predictions)

[ 83.2  82.6  82.6 205.8  83.2 205.8  82.6  82.6  82.6 395.8  82.6 210.6
  90.  107.2 307.6 132.4  82.6 395.8  90.   82.6  83.2  82.6 107.2 205.8
  90.   82.6 415.  217.8 131.4  83.2 395.8  83.2  82.6 395.8 223.  131.4
 417.   82.6  82.6 203.8  83.   82.6  82.6 395.8 141.6 104.   82.6 362.2
 141.6 168.6  82.6 395.8 141.6 395.8  82.6 395.8  82.6  90.   82.6 121.4
 104.   82.6  82.6 121.4 141.6 395.8  82.6  82.6  82.6  82.6 141.6  82.6
 141.6 141.6 168.6 168.6  82.6 395.8  82.6 395.8  82.6 104.  395.8  82.6
  82.6 104.  141.6  82.6  83.2  82.6 141.6 141.6  82.6  82.6 395.8 257.4
  83.2 104.  395.8  82.6  82.6 141.6  82.6 141.6  83.2  82.6  90.  395.8
 141.6 141.6 141.6 141.6  90.  395.8  83.2  83.2  82.6 395.8  82.6 141.6
 131.4  82.6 205.8  82.6 257.4  82.6  82.6  82.6 132.4  82.6  82.6 395.8
  82.6 141.6 322.8  82.6 141.6 395.8 395.8 141.6  82.6 257.4 395.8 433.4
 131.4  82.6 395.8 395.8 107.2  80.6  82.6  83.2  82.6 395.8  82.6 322.8
 141.6  80.6 132.4 395.8 395.8 141.6 415.  203.8  82.6 141.6 141.6  82.6
  98.6 988.2  82.6  82.6 168.6 395.8  82.6  82.6 104.   90.   82.6  98.6
 395.8 395.8 395.8  83.2  82.6  82.6  80.6 395.8  82.6  90.  107.2 141.6
  82.6  82.6  82.6 395.8 141.6 141.6 141.6  83.2  82.6  83.2  82.6 141.6
  82.6  82.6 257.4 205.8  83.2 395.8  82.6 141.6 225.4  82.6  82.6  82.6
  82.6 141.6 141.6 141.6  83.2  82.6  83.2 205.8  82.6 205.8  82.6 275.4
 223.   82.6  82.6  82.6  82.6  82.6  90.  141.6 132.4 257.4  82.6 417.
  82.6 395.8  82.6  82.6  82.6 223.  395.8 205.8 395.8 141.6  98.6 424.4
  98.6 395.8 395.8 168.6 141.6  82.6  83.2  82.6  82.6  83.2  82.6  82.6
  82.6 131.4 132.4  82.6 395.8  82.6  82.6 194.8  82.6 395.8 243.  395.8
 141.6 395.8  82.6  82.6  82.6  82.6 395.8  82.6 395.8  82.6 395.8 141.6
  82.6  82.6  83.  121.4  82.6  82.6  82.6 203.8  90.  395.8 395.8 141.6
 141.6 141.6  83.2  82.6  82.6 141.6  82.6  82.6 131.4  83.2 141.6 141.6
  82.6  82.6 395.8 276.8 362.2  90.   82.6  82.6  82.6  82.6 132.4  82.6
  90.   90.   82.6  82.6 141.6  82.6 395.8 127.8  82.6  83.2 395.8 141.6
 141.6 205.8  65.   90.  141.6  83.2 141.6  82.6  82.6 223.   82.6  82.6
  83.2 141.6  82.6 395.8 205.8 104.   82.6  82.6 141.6  82.6  70.  104.
  82.6 141.6  83.2 362.2 417.   82.6  90.  141.6 131.4  82.6 243.  628.
  82.6 121.4  82.6  82.6 107.2  82.6  82.6  82.6  82.6  82.6 362.2 141.6
  78.  395.8 395.8 421.4  82.6  82.6 104.   98.6  82.6  82.6  82.6  82.6
  82.6 395.8  82.6 141.6  82.6  82.6 141.6 395.8 141.6 141.6  82.6 257.4
  82.6  82.6  82.6  82.6  82.6  82.6  83.  417.  395.8 362.2  82.6  82.6
 141.6 287.4  82.6 395.8 141.6 395.8 141.6 141.6  83.2 205.8  82.6 243.
  82.6 395.8  82.6 141.6 276.8  82.6  82.6  82.6 395.8  82.6  80.6 257.4
 362.2  82.6  82.6 141.6  82.6  82.6  82.6 131.4 141.6  90.   82.6 141.6
 362.2  83.2 205.8  83.2  83.2 141.6  83.2 131.4  90.   82.6  82.6 132.4
  82.6  90.   82.6 206.8  82.6 395.8  83.2 369.   82.6 395.8  82.6  90.
  83.2 395.8 628.  257.4 104.  395.8 141.6 362.2  82.6  82.6 141.6  82.6
 395.8  82.6  82.6 131.4 395.8  83.2 257.4  82.6 257.4 168.6 141.6 243.
  82.6 141.6 395.8  89.  257.4  82.6 287.4  90.  187.  141.6  82.6  82.6
  82.6  98.6  82.6 187.   82.6 395.8 141.6  82.6 628.   83.2 121.4  82.6
  82.6 168.6  82.6  82.6 206.8 141.6 395.8  82.6  82.6 179.  104.  141.6
  82.6  82.6 395.8  82.6 104.  217.8 141.6 395.8 131.4  82.6  83.2  82.6
  82.6 141.6 132.4 395.8 131.4 276.8  82.6  82.6 243.   82.6 187.  131.4
  82.6 141.6 141.6 141.6 257.4  82.6 395.8 395.8 168.6 141.6 395.8 395.8
  82.6  82.6 141.6 395.8 168.6 104.  395.8  83.2  98.6  82.6  82.6  82.6
  83.2  83.2 206.8  82.6 205.8 168.6 131.4  83.2  82.6 141.6 223.   78.
  82.6 104.   83.2  90.  141.6 205.8  82.6 217.8 141.6 141.6 141.6 107.2
  82.6  82.6 141.6  82.6 141.6 203.8  82.6  90.  131.4 205.8  82.6 141.6
 339.8 107.2  82.6 395.8 141.6 168.6  82.6  82.6 141.6 395.8  83.2 141.6
  82.6 141.6  80.6  82.6  90.  395.8  82.6  82.6 131.4  90.   82.6 131.4
 104.   83.2  82.6 217.8  90.   82.6 395.8  82.6  90.   83.2  82.6  82.6
  82.6  82.6 141.6 395.8  82.6 628.  141.6  82.6  82.6 141.6  83.2  82.6
  83.2  83.2 141.6 141.6  90.  141.6 141.6 104.  141.6 205.8  83.2 141.6
  82.6  82.6  82.6 141.6  83.2  82.6  82.6  78.   83.2  90.  179.  257.4
 141.6 395.8  82.6  82.6  82.6  82.6  82.6 223.  107.2 395.8 395.8  82.6
  82.6  83.   83.2  82.6 205.8  82.6 322.8  82.6 141.6 141.6  82.6  82.6
  82.6 141.6 257.4 205.8 395.8  82.6 395.8  82.6 362.2 168.6 223.   82.6
  82.6 168.6 141.6  82.6  98.6 395.8 141.6  82.6 217.   82.6 395.8 141.6
 141.6 395.8  83.2  82.6 395.8  82.6  82.6  82.6 141.6  82.6  82.6  82.6
  82.6 187.   82.6  82.6  82.6  82.6  83.2  82.6 362.2  82.6  82.6  82.6
 104.   82.6  83.2  82.6 395.8  83.2 141.6  83.2 395.8 187.  121.4 132.4
  82.6 318.6 869.   82.6 141.6  98.6  82.6 395.8  82.6  83.2  82.6  82.6
 395.8 395.8  82.6 132.4  83.2 205.8  82.6 141.6  82.6  83.2  82.6  82.6
  82.6 141.6  83.2  83.2  82.6  82.6 141.6  82.6  82.6 141.6  82.6  90.
 131.4  82.6  82.6 141.6 395.8  82.6  82.6  82.6  82.6  98.6 362.2  82.6
  82.6 172.6  82.6  82.6 395.8 257.4 141.6 257.4  82.6 168.6  82.6 395.8
 395.8 395.8  82.6  98.6  82.6  82.6 395.8 395.8  82.6 132.4 131.4 362.2
 395.8 141.6  82.6  82.6  83.2 395.8  82.6 339.8 141.6 362.2 141.6  82.6
 395.8  90.   82.6 362.2  82.6 141.6  90.   82.6 141.6 141.6  82.6 362.2
 203.8  82.6 395.8 395.8  82.6 307.6  82.6  82.6 205.8 179.  141.6  82.6
  82.6  82.6  82.6 141.6  82.6  98.6 395.8 395.8 141.6  82.6  82.6  82.6
  82.6  82.6 141.6  82.6  82.6  82.6  90.   82.6  82.6  82.6 141.6  82.6
 205.8 205.8 395.8  82.6  82.6  82.6]

### MSE

In [21]:
from sklearn.metrics import mean_squared_error

two_features_mse = mean_squared_error(test_df["price"], predictions)
two_features_rmse = (two_features_mse) ** (1/2)

print(two_features_mse)
print(two_features_rmse)

21648.360174291938
147.13381723550822

### Increasing features

In [22]:
train_features = train_df[['accommodates', 'bathrooms','bedrooms','number_of_reviews']]
train_target = train_df['price']
knn.fit(train_features, train_target)

predictions = knn.predict(test_df[['accommodates', 'bathrooms','bedrooms','number_of_reviews']])
print(predictions)

[  94.8  115.    80.8  212.4   58.6  266.    81.6  253.2  117.   119.6
  253.2  415.8   82.6  113.2  238.4  199.   110.8  130.6  124.2  116.
  108.8  124.8  113.2  285.8   76.8  121.6  313.4  244.8  173.4   93.4
  119.6  108.8  111.4  120.6  255.   182.4  418.   115.    83.6  209.2
  113.   111.    99.2  137.8  248.6   94.   253.2  424.   105.4   99.
   89.8  122.8  232.6  140.4  253.2  130.6  124.8  103.8  253.2  190.6
   94.   123.   121.6  207.2  119.8  130.6   99.4  117.    80.8  101.2
  119.8  124.8  136.4  170.4  138.6  107.4  124.8  140.4  105.8  138.
   91.6   94.   139.4  117.   117.    94.   134.2   96.6   89.6  115.
  138.6  158.   118.4  253.2  171.   261.    94.8   88.8  159.8   99.4
   96.   125.4  118.2  108.   108.8   93.4   82.6  130.6  116.8  141.8
  232.6  125.6   77.8  152.   108.8   89.6  118.4  128.6   91.6  104.6
   90.6  253.2  219.4  124.8  245.8   98.2  104.2  253.2   99.6   98.8
  101.8  101.8   99.4  134.6  238.8  144.4  104.6  139.8  140.4  232.6
   99.4  371.6  151.8  941.2  161.4  117.   151.8  161.8   89.    62.
   99.2   53.2  117.   125.2   98.   310.6  186.    84.6  199.   174.6
  100.   104.8  345.6  209.2  124.8  104.6  111.   101.8  109.8 1242.2
  253.2   93.4  177.6  130.6  253.2  144.4   77.   185.   109.4   94.2
  132.8  148.6  119.6   94.8  118.4  253.2   84.6  128.   253.2  185.
  161.   134.6  111.4  118.4  124.8  124.4  148.6  232.6  108.    83.6
  253.2  108.8  253.2  232.6   98.8  253.2  173.4  190.6   53.2  146.6
   99.2  104.6  183.4   89.8  144.4  115.   115.4  170.4  148.6  232.6
   64.4  115.    53.2  266.    93.4  285.8   91.6  423.   248.8   99.4
  117.    99.4  119.   107.2   82.6   89.4   87.   169.4  110.8  418.
   91.6  151.8  124.8  105.2   99.2  287.   174.6  190.6  171.   115.6
   91.6  559.6  113.8  174.6   83.   115.4  232.4   99.4   58.6  118.4
  100.4  108.8   99.4  115.6   87.8  190.   121.8   99.4  135.8   99.4
  124.8  193.6   99.4  107.8  219.4  124.4  111.   174.6  117.   124.8
  104.    98.8  174.6   98.4  107.8  253.2  174.6  107.2  110.   253.2
   89.4  121.4  111.4  101.8  104.   157.8   70.4  118.6  175.4  104.6
  108.   149.6   80.   101.8  115.2  104.8  116.8  253.2   90.6   76.8
  232.6  119.8  253.2  113.8  119.6  284.2  277.8   77.8  118.4  104.
  114.8  115.   174.4  144.4   82.6   77.8   89.8  253.2  126.6  115.4
  130.6  105.8  111.4   71.6  130.6  133.   119.8  207.2  100.8   77.8
  148.6  108.8  125.4  102.2  115.   276.8   93.4  115.2   75.2  232.6
   96.6  132.8  212.4  111.2  105.2  115.6  185.4   93.8   78.8  111.2
  253.2  102.8  108.8  280.4  418.   101.2  185.   148.6  120.    93.8
  326.8  317.8  101.8   91.   253.2  253.2  179.   253.2  253.2  253.2
  105.8   99.4  313.8  129.6   94.4  106.8  132.8  464.4  253.2   99.4
  111.2  112.8   84.   120.    98.8  144.4   96.6  139.4   93.6  110.4
  100.4  253.2  126.6  139.4  232.6  141.8  117.   244.6  115.   124.8
  121.8  253.2  124.8  111.4   75.8  418.   138.   277.8   80.8   93.4
  232.6  225.4   77.   151.8  168.2  132.8  150.6  232.4   57.   194.8
  111.4  168.2  117.   130.6  124.8  108.   253.    82.4   89.8  109.4
  174.6  104.    84.6  191.4  311.2  253.2  115.   136.4  104.   115.4
  124.8  173.4  141.    82.6  253.2  134.6  472.2   64.4  285.8   80.
   64.4  141.    84.8  196.6  114.8  253.2  253.2   87.   117.   114.8
  115.   248.    99.4  174.6  108.8  378.8   99.4  174.6  253.2   96.
   68.6  122.8  357.2  284.   112.2  107.8  232.6  256.8  117.   132.8
  178.   114.8  151.8  118.4   96.6  163.2  170.2   83.6  248.6  115.
  173.4  204.   129.6  285.2  253.2  125.4  139.4   84.6  371.6   89.8
  225.4  114.8  175.   158.    99.4  110.8   89.8  109.8   95.8  359.8
   87.8  130.6  111.    99.4  275.2  108.8  154.8  117.   253.2  143.8
  120.8  111.4  293.   232.6  107.8   96.6  253.2  106.4   93.2  124.6
   89.8  106.8  128.6   81.6  111.2  287.   141.   110.8  182.4  105.2
   69.2  100.6   96.6  104.6  206.   130.6  173.4  364.4  124.8  117.
  274.8  109.6  176.8  156.    99.4  232.4  134.6  104.6  313.8  253.2
  125.2  122.8  120.8  136.4  141.4  174.6  115.   115.   104.6  174.6
  120.8   88.8  174.6  108.8  101.8  121.6  118.2   93.4  108.8   70.4
  284.   253.2  196.4  134.6  219.4   63.   253.2  148.6  413.4  110.
  253.2   94.    94.8   82.6   89.4  219.4   98.8  291.6  104.6  108.
  104.6  101.6  115.4  253.2  157.4   96.6  152.8  289.   124.8   89.4
  182.4  202.2  253.2  170.4  166.6  113.2  118.4  107.6  149.6  177.6
   89.8  117.   185.6  130.6   77.6  119.8   99.6  170.4   60.4  111.4
  124.2  159.8  253.2  253.2  156.   185.    99.4  190.    88.8   94.8
  111.   293.8   82.6   93.4  140.4  111.    89.    66.4  115.   100.4
  116.8   86.6  133.8  132.8  253.2  357.2  232.6   99.4  253.2  149.6
  108.8  253.2  108.8   94.8  126.6  155.6   86.6  185.6  134.6   94.
  133.   238.4   78.2  133.   115.4  115.    81.6  109.2  108.8   99.2
  124.8   97.4  108.8   82.6  162.4  203.6  125.6  174.6  253.2  115.
  126.2  111.4   98.8  173.4  101.6  132.8  119.6  117.   253.2   71.6
   63.   109.4  207.2  115.6  289.6  253.2  104.6  118.8   99.4  253.2
  123.    95.6  371.6  285.8  130.6  253.2   88.4  107.2  284.   160.6
  185.8  115.    93.6  177.8  101.6  253.2   91.6  124.4  232.6  123.
   90.4  253.2  139.4  105.4  149.6  139.4  108.8  104.   125.2   93.4
  124.8  124.6  126.6  107.2   98.8   86.6  101.8  261.8   81.4  121.6
  116.8  253.2   62.8  103.4  472.2  115.    99.2  144.4   77.   111.4
   53.2  253.2  132.8   55.2  104.6   53.2  174.6  284.8  121.4   88.6
  253.2  303.4  872.2  115.2  104.6   64.6   98.6  171.   253.2  108.8
  110.8  253.2  128.   150.2  120.   134.   108.8  266.   104.   104.6
   99.2  108.8  109.   115.   111.4  119.8   63.    80.   115.6  124.8
  130.8   81.4  118.4  125.2  106.4   83.6  252.4   99.4  115.   190.8
  130.6  117.    99.2  118.4  115.   101.6  472.2  253.2   99.4  166.
  111.4  103.8  101.8  203.2  232.6  371.6  117.   143.8  124.8  139.4
  122.8  122.8  121.6  112.8  105.2  106.   180.8  174.6  111.    88.6
  181.   256.8  114.   136.4  103.4  110.8  108.8  119.6  104.   293.8
  135.8  256.8  104.6  117.   101.8   94.2   96.   472.2  253.2  133.
  124.2  117.   134.6  232.6  105.2  276.2  210.2  118.4  151.8  157.4
  117.   319.8   96.8  117.   190.6  200.2  104.6  111.4  111.4  253.2
  118.4  149.6   99.4   85.8  130.6  174.6  126.6  124.8  144.4  117.
   96.   109.4  142.6  124.    99.6  115.   103.8  123.   118.4   96.6
  150.6   98.6  285.8  132.6  174.6  102.2  106.4   81.6]

In [23]:
mse = mean_squared_error(test_df["price"], predictions)
rmse = (mse) ** (1/2)

print(mse)
print(rmse)

14191.914684095862
119.12982281568232

### All features

In [30]:
train_features = train_df[train_df.columns.tolist()]
train_target = train_df['price']
knn.fit(train_features, train_target)

predictions = knn.predict(test_df[train_df.columns.tolist()])
print(predictions)

[  55.    74.8   42.   299.    75.   114.4  120.   120.    90.   105.
  135.   199.4   71.8   69.   159.8  299.2   75.    89.    99.    59.4
   60.   100.   168.2  100.    72.   250.   299.8  175.   250.    79.8
  105.    43.2   90.   189.   125.   149.8  482.8   99.    75.   220.
  110.   100.    65.   139.   145.   150.   125.   249.8   95.   138.6
  145.   139.4  160.   129.   120.   109.   111.    70.   100.   139.6
   75.4  125.   100.   169.4  119.   288.8   85.    45.    75.   105.
   85.    85.   140.   124.8   79.4  295.6   85.   125.   150.   165.
  105.    50.   208.2   89.    80.    43.2  125.    95.    99.8   70.
  105.   159.    99.   110.   140.   164.8   53.2   74.8   60.   100.
  111.   159.4   85.    95.   275.    55.    65.   246.8  175.   129.
  399.2  115.   140.    90.6  125.    85.   189.4   95.   100.    90.
  718.6  119.   299.    80.   299.8   50.2   71.2   60.    94.6  125.
  100.    89.   130.    98.8  175.   150.   175.    75.2  180.   129.
  100.   516.   125.   499.6  299.6   45.6  309.4  110.    74.8   40.
  100.    58.2  110.    95.2  120.   288.6  179.8   69.   105.   145.
  101.6  150.   249.8  150.   115.   119.   250.    84.    49.8  197.4
  150.    70.4  279.4  200.    60.   159.6   89.    65.   200.    54.4
  229.4   95.    85.    23.6   65.   155.2   64.8   95.   249.    55.
  239.4  105.    95.   219.8  110.   209.4  125.   482.8  119.2   70.
  155.    95.    75.   100.   110.   100.   718.6  124.8   89.    75.
  120.   125.   189.4  150.    90.   110.    72.   179.8  144.6   70.
   50.   115.    75.   150.    85.8  159.8   55.   268.6  225.   100.
   98.    70.4  105.    55.4   80.   150.   554.6  159.6   60.   599.
   84.2   41.8   98.4  113.8   84.   134.8  569.   288.8  100.   140.
   85.   399.    70.   246.8  109.4   79.6  268.6   65.   169.4   89.
   90.    65.   185.   140.   125.   185.   109.4   88.4  110.   125.
  100.   154.6  150.    99.   264.    79.    99.    82.4   75.    90.
  120.    75.   127.2   46.6   58.6  249.   140.    98.8  120.    89.
   96.6  200.    75.    98.2  120.   161.4   70.   120.    99.8   80.
   98.8  127.2  149.4  199.8   85.   179.2  175.    95.   150.    75.
   69.6   44.8   85.    94.4   99.4  299.6  376.8   53.2   65.    79.
   85.    90.   249.6  125.    71.8   75.   100.   120.   135.   100.
  175.    31.4  100.    64.6  150.   189.6  107.6  299.6   58.4   90.
  150.   175.   100.   115.    50.   259.2  120.    99.   145.2  299.8
  100.    93.2  250.    90.   120.   125.    99.    84.2   45.    75.
   75.   109.2  120.   145.2  569.    93.4   99.   150.   149.8  119.
  164.4  250.    60.    95.   100.   139.   125.2  100.    60.   500.
   50.   120.   324.2   70.6   45.   200.   130.   298.4 1220.    80.
   75.    69.8  125.2  159.4  200.    47.4  125.    50.    67.8  135.
   68.    85.    95.   120.   159.   259.   115.   295.    60.   100.
  134.8   75.    90.    84.    66.4 1300.   175.   350.   100.   215.
  100.  1000.    99.2   60.   105.    89.8  168.2  195.    23.6  329.
  150.   139.8  125.   101.6  100.   104.8  189.6   79.   110.   100.
  569.    55.    65.   199.4  329.   100.    80.    88.6  100.   120.
  100.   170.   100.    40.    89.   115.   199.8   68.   199.8   95.
   65.   150.    99.   225.    95.   100.   100.   185.   155.   100.
  195.   482.8  150.   200.    55.   329.    89.   259.    67.4  140.
  100.   108.2  199.2  295.6   65.   138.4  130.   299.8   85.   125.
  189.    83.2  139.   140.   125.   225.   124.8   95.   350.    95.
  399.6  180.    90.   150.   110.   140.   105.   105.   500.    99.
   23.6   95.   229.4  295.6   55.   115.   125.4   98.6   70.   199.4
   65.4  120.   135.    50.   450.    50.   150.    65.    90.   159.4
  100.    77.8  327.6  159.8   95.   130.   125.   179.2   50.    75.
   90.   139.   139.    55.    80.  1000.   128.6  135.4  199.    95.2
   35.4   89.8  125.    90.   376.8   90.   119.2  284.2  100.   130.
  249.4  134.8  299.2  109.4   45.   250.   125.   119.8  299.4  120.
   75.   150.   115.   133.8   80.    89.    70.    70.    51.   259.
  159.8   75.   165.   175.   120.   100.    68.    69.    88.6   34.8
  399.   110.   220.   149.   215.2   70.    75.   150.   209.2   98.8
   94.4   45.    60.    65.    85.   299.2  130.   159.8  150.   120.
   98.4   94.4   75.   200.   149.   120.   250.   399.6   99.    89.8
  179.4  150.   100.   185.   375.    64.2   90.    99.   150.   440.8
  101.4   95.   195.    85.    95.   185.    75.   108.4   89.4  119.
  105.   117.4  165.    75.   189.2  267.6  150.   150.    60.    43.2
  110.   299.6   80.   105.    59.    80.    40.    58.6   90.   159.4
  150.   120.   149.   100.2  100.   250.   115.   115.    80.   185.
   95.   125.    45.    78.    98.8  149.8   75.   145.   150.    80.
  148.6  229.2   82.8  109.2   79.   180.   140.   120.    90.    60.
  500.    45.    50.    65.   179.8  295.6  118.6  299.8   90.    78.
   95.    99.    95.   205.4   91.6   84.8  229.4  100.    75.   104.6
   65.   129.4  289.6   84.   289.6   80.    90.   141.2   75.    89.
   95.    99.2 1610.    64.8   99.6   79.    86.6   65.   309.6  229.2
  179.   180.    80.   275.   110.4   88.2  150.    90.   150.    99.
   71.   120.    85.    92.    40.2   70.   140.    99.    94.6  160.
  125.   159.    94.8   99.   118.8   95.   120.   179.4   70.   125.
  100.    65.    75.    65.   509.   150.    65.   170.    93.8  125.
  150.   185.    94.8  100.   105.    65.    95.   179.4  209.   250.
  125.   310.8  637.4  110.   119.2   69.4   89.   125.   135.   100.
   80.    80.   120.   170.2   90.   178.4   34.6  299.   118.4  110.
   55.    29.6   65.   259.   165.   158.2   50.    99.   115.4   97.
  115.    65.    85.   125.    80.   100.   180.   120.   150.   294.
   57.    94.4   85.   100.    75.    79.6  100.4   80.    55.   199.2
   90.    95.   124.8  189.2   75.   119.8   80.    99.   165.   120.
  100.   110.    97.   120.   105.   135.   324.2  249.   120.   198.6
  139.8  225.    95.   100.   105.   185.    95.6   85.   125.   240.
  175.   414.4  119.    65.    99.   150.   125.   633.2   45.   110.
  149.   130.   120.   119.2  225.   299.   225.    77.8  117.4  135.
  100.   215.2  109.4  100.   125.   399.8   45.   145.    50.   195.
   90.   205.4   51.8  129.8  125.    99.   115.    85.    60.    60.
   85.    85.    99.   179.8  103.6   69.    69.8  150.   100.    49.
   69.    99.   199.    89.8  189.    85.    90.   165. ]

In [31]:
mse = mean_squared_error(test_df["price"], predictions)
rmse = (mse) ** (1/2)

print(mse)
print(rmse)

178.95128540305012
13.37726748641329